*{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    background-color: #F4F4F4;
}
.beijing{
    width: 100%;
    height: 973px;
    background-color: #FEFEFE;
}
.biaotou{
    width: 100%;
    height: 40px;
    background-color: #333333;
}
.biaotou .xiaotou{
    width: 1226px;
    height: 40px;
    margin: 0 auto;
}
.biaotou .anniu{
    width: auto;
    height: 40px;
    background-color:#323232;
    float: left;
}
.biaotou  .anniu a{
    font-size: 14px;
    color: #AFAFAF;
    line-height: 40px;
}
.biaotou  .anniu a:hover{
    color: #ffffff;
}
.biaotou .denglu{
    width:auto;
    height: 40px;
    float: right;
    margin-right: 26px;
}
.biaotou .denglu a:hover{
    color: #ffffff;
}
.biaotou  .denglu a{
    font-size: 14px;
    color: #AFAFAF;
    line-height: 40px;
}
.biaotou .gouwu{
    width: 120px;
    height: 40px;
    float: right;
}
.biaotou .gouwu a{
    font-size: 14px;
    color: #AFAFAF;
    line-height: 40px;
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    float: right;
}
.biaotou .gouwu a:hover{
    color: #FF6700;
    background-color: #ffffff;
}
.daohang{
    height: 100px;
    width: 1226px;
    background-color: #FEFEFE;
    margin: 0 auto;
}
.daohang .logo {
    width: 100px;
    height: 100px;
    float: left;
    display: block;
    overflow: hidden;
}
.daohang .logo a{
    width: 55px;
    height: 55px;
    background-color: #FF6700;
    line-height:100px; 
    display: block;
    margin-top: 22px;
}
.daohang .daohangzi{
    height: 100px;
    width: auto;
    float: left;
}
.daohang .daohangzi .kuai{
    width: 142px;
    height: 100px;
    background-color: transparent;
    float: left;
}
.daohang .daohangzi a{
    line-height: 100px;
    text-align: center;
    display: inline-block;
    margin-right: 15px;
}
.daohang .daohangzi a span{
    color: #000;
}
.daohang .daohangzi a span:hover{
    color: #FF6700;
}
.daohang .sousuo{
    width: 296px;
    height: 100px;
    float: right;
}
.daohang .sousuo:hover input{
    border:1px solid #BDBDBD;
    border-right: 0;
}
.daohang .sousuo:hover button{
    border:1px solid #BDBDBD;
}
.daohang .sousuo input{
    width: 245px;
    height: 50px;
    margin-top: 22px;
    float: left;
    border:1px solid #DFDFDF;
    border-right: 0;
    text-indent: 1em;
    outline: 0;
}
.daohang .sousuo button{
    width:50px;
    height: 52px;
    margin-top: 22px;
    border:1px solid #DFDFDF;
    float: right;
    background-color: #ffffff;;
}
.daohang .sousuo button:hover{
    color: #F4F4F4;
    background-color: #FF6700;
    border:0px;
}
.jiadian{
    width: 1226px;
    height: auto;
    background-color: #f4f4f4;
    margin: 0 auto
}
.jiadian .tou{
    width: 100%;
    height: 58px;
    background-color: #f4f4f4;
    line-height: 58px;
}
.jiadian .tou p{
    float: left;
    line-height: 58px;
    font-size: 22px;
}
.jiadian .tou .you{
    float: right;
    margin-left: 40px;
}
.jiadian .tou span{
    margin-left: 20px;
    cursor: pointer;
}
.jiadian .tou span:hover{
    color: #FF6700;
    border-bottom: 2px solid #FF6700;
    padding-bottom: 6px;
}
.jiadian .neirong{
    width:1226px;
    height: 614px;
}
.jiadian .neirong .box5:hover{
    transform: translateY(-5px);
    transition: 1s;
    box-shadow: 0 0 20px 3px #ddd; 
}
.jiadian .neirong .box5 .pinglun{
    width: 234px;
    height: 90px;
    background-color: #FF6700;
    position: absolute;
    bottom: -90px;
    padding: 15px;
    box-sizing: border-box;
}
.jiadian .neirong .zuo{
    widows: 234px;
    height: 614px;
    background-color: #f4f4f4;
    float: left;
} 
.jiadian .neirong .zuo .box{
    width: 234px;
    height: 300px;
    background-color: blue;
    margin-bottom: 14px;
}
.jiadian .neirong .zuo .box:hover{
    transform: translateY(-5px);
    transition: 1s;
    box-shadow: 0 0 20px 3px #ddd;
}
.jiadian .neirong .zuo .box1{
    width: 234px;
    height: 300px;
    background-color: blue;
}
.jiadian .neirong .zuo .box1:hover{
    transform: translateY(-5px);
    transition: 1s;
    box-shadow: 0 0 20px 3px #ddd;
}
.jiadian .neirong .you{
    width: 992px;
    height: 614px;
    background-color:#f4f4f4;
    float: right;
    
}
.jiadian .neirong .you .box{
    width: 234px;
    height: 300px;
    background-color: #FEFEFE;
    float: left;
    margin-bottom: 14px;
    margin-left: 14px;
    overflow: hidden;
    position: relative;
}
.jiadian .neirong .you .box .pinglun p{
    color: #ffffff;
    font-size: 12px;
    width: 234px;
    height: 30px;
}
.jiadian .neirong .you .box .pinglun .d3{
    color: #FEB689;
    font-size: 12px;
}
.jiadian .neirong .box:hover .pinglun{
    transform: translateY(-85px);
    transition: 1s; 
}
.jiadian .neirong .you .box1{
    width: 234px;
    height: 143px;
    float: left;
}
.jiadian .neirong .you .box1:hover{
    transform: translateY(-5px);
    transition: 1s;
    box-shadow: 0 0 20px 3px #ddd;
}
.jiadian .neirong .you .box1 img{
    width: 80px;
    height: 80px;
    float: right;
    margin: 31px 20px 0 0;
}
.jiadian .neirong .you .box2{
    margin-bottom: 0px;
}
.jiadian .neirong .you .box5 img{
    width: 150px;
    height: 150px;
    margin: 0 auto;
    display: block;
    margin-top: 35px;
}
.jiadian .neirong .you .box .p1{
    text-align: center;
    font-size:14px; 
    margin-top: 10px;
    color: black;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 20px;
}
.jiadian .neirong .you .box pre.ping{
    text-align: center;
    font-size:14px; 
    color: #FF6700;
    margin-top: 3px;
}
.jiadian .you .box pre{
    text-align: center;
    font-size:12px; 
    color: #AFAFAF;
    margin-top: 3px;
}
.jiadian .neirong .you .box .jiage{
    text-align: center;
    font-size:14px; 
    color: #FF6700;
    margin-top: 20px;
}
.jiadian .neirong .you .box .lun{
    text-align: center;
    font-size:14px; 
    color: #AFAFAF;
    margin-top: 20px;
}
.jiadian .neirong .you .box s{
    text-align: center;
    font-size:14px; 
    color: #AFAFAF;
    margin-top: 30px;
}
.jiadian .neirong .you .box1 div{
    height: auto;
    background-color: #FEFEFE;
}
.jiadian .neirong .you .box1 p{
    margin:40px 0 0 30px;
    font-size: 14px;
    color: #323232;
}
.jiadian .neirong .you .box1 .huan{
    color: #FF6700;
    font-size: 14px;
    margin:0px 0 0 30px;
}
.jiadian .neirong .you .box3 p{
    margin:40px 0 0 30px;
    font-size: 18px;
}
.jiadian .neirong .you .box1 .hui{
    color: #747474;
    font-size: 12px;
    margin: 0 0 0 30px;
}
.jiadian .box10{
    position: relative;
}
.jiadian .iconfont{
    font-size: 50px;
    color: #FF6700;
    display: block;
    position: absolute;
    top: 40px;
    right: 40px;
}
.tuijian{
    width: 1226px;
    height: auto;
    margin: 0 auto;
    background-color: #f4f4f4;
}
.tuijian .box{
    width: 234px;
    height: 300px;
    background-color: #FEFEFE;
    float: left;
    margin: 0 14px 0 0;
}
.tuijian .box:hover{
    transform: translateY(-5px);
    transition: 1s;
    box-shadow: 0 0 20px 3px #ddd;
}
.tuijian .tou{
    width: 100%;
    height: 58px;
    background-color: #f4f4f4;
    line-height: 58px;
    margin: 21px auto 0;
}
.tuijian .tou p{
    float: left;
    line-height: 58px;
    font-size: 22px;
}
.tuijian .box1{
    margin-right: 0;
}
.tuijian .neirong{
    width: 1226px;
    height: 300px;
}
.tuijian .neirong .box img{
    width: 140px;
    height: 140px;
    margin: 0 auto;
    display: block;
    margin-top: 35px;
}
.tuijian .neirong .box p{
    text-align: center;
    font-size:14px; 
    margin-top: 10px;
    color: black;
}
.tuijian .neirong .box pre{
    text-align: center;
    font-size:14px; 
    color: #FF6700;
    margin-top: 10px;
}
.tuijian .neirong .box div{
    text-align: center;
    font-size:14px; 
    color: #AFAFAF;
    margin-top: 20px;
}
.reping{
    width: 1226px;
    height: auto;
    background-color: #f4f4f4;
    margin: 0 auto;
}
.reping .tou{
    width: 100%;
    height: 58px;
    background-color: #f4f4f4;
    text-align: center;
    margin-top: 21px;
}
.reping .neirong{
    width: auto;
    height: 415px;
}
.reping .box{
    width: 296px;
    height: 415px;
    background-color: #FEFEFE;
    float: left;
    margin: 0 14px 14px 0;
}
.reping .box:hover{
    transform: translateY(-5px);
    transition: 1s;
    box-shadow: 0 0 20px 3px #ddd;
}
.reping .tou p{
    float: left;
    line-height: 58px;
    font-size: 22px;
}
.reping .box1{
    margin-right: 0;
}
.reping .box img{
    width: 296px;
    height: 220px;
}
.reping .box p{
    font-size: 14px;
    width: 240px;
    height: 72px;
    margin: 30px auto 20px ;
}
.reping .box pre{
    width: 240px;
    height: 18px;
    margin: 0 28px 8px 25PX;
    padding: 0 10px  0 0;
    color: #AFAFAF;
}
.reping .box div{
    margin: 0 0 0 25px;
    font-size: 14px;
    
}
.reping .box div .jiage{
    color: #FF6700;
}
.reping .box div .shugang{
    color: #AFAFAF;
}
.xiaomi9{
    width: 1226px;
    height: 120px;
    margin: 0 auto;
}
.xiaomi9 img{
    width: 1226px;
    height: 120px;
}
.xiaomi9{
    width: 1226PX;
    height: 120PX;
    background-color: #FEFEFE;
    overflow: hidden;
    margin: 40px auto;
}
.phone{
    width: 1226px;
    height: auto;
    margin:0  auto;
}
.phone .top{
    width:auto;
    height: 58px;

    line-height: 58px;
}
.phone .top .right{
    float: right;
    font-size: 16px;
}
.phone .top .left{
    font-size: 22px;
}
.icon-chakanquanbu-copy2{
    color: #AFAFAF;
} 
.phone .top .right:hover{
    color: #FF6700;
}
.phone .top .right:hover  i{
    color: #FF6700;
}
.phone .neirong{
    width: 100%;
    height: 614px;
    background-color: #F4F4F4;
}
.phone .neirong .box{
    width: 234px;
    height: 300px;
    background-color: #FEFEFE;
    float: left;
    margin-bottom: 14px;
    margin-right: 14px;
}
.phone .neirong .box:hover{
    transform: translateY(-5px);
    transition: 1s;
    box-shadow: 0 0 20px 3px #dddddd;
}
.phone .neirong .box1{
    margin-right: 0;
}
.phone .neirong .box2{
    margin-bottom: 0;
}
.phone .neirong .box3{
    height: 614px;
}
.phone .neirong .box3 img{
    width: 234px;
    height: 614px;
}
.phone .neirong .lvkuai{
    width: 64px;
    height: 20px;
    background-color: #81C350;
    margin: 0 auto;
    color: #FEFEFE;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
}
.phone .neirong .lvkuai.hong{
    width: 64px;
    height: 20px;
    background-color: #E43834;
}
.phone .neirong .box .xiaomi9{
    width: 160px;
    height: 160px;
    margin: 0 auto;
    display: block;
}
.phone .neirong .box .xiaomi8{
    width: 160px;
    height: 160px;
    margin: 0 auto;
    display: block;
    margin-top: 20px;
}
.phone .neirong .box p{
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
    color: #000;
}
.phone .neirong .box .jiage{
    font-size: 14px;
    color: #FF6700;
    text-align: center; 
    margin-top: 5px；
}
.phone .neirong .box .jiage s{
    color: #AFAFAF;
}
.phone .neirong .box pre{
    font-size: 12px;
    text-align: center;
    color: #5D5D5D;
    margin: 0px 10px 15px;
}
.phone .neirong .lvkuai{
    width: 64px;
    height: 20px;
    background-color: #81C350;
    margin: 0 auto;
    color: #FEFEFE;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
}
/* .icon-chakanquanbu-copy2{
    color: #AFAFAF;
}
.phone .tou .right:hover .icon-chakanquanbu-copy2{
    color: #FF6700;
}  */
.phone .neirong .lvkuai.hong{
    width: 64px;
    height: 20px;
    background-color: #E43834;
}
.phone .neirong .box .xiaomi9{
    width: 160px;
    height: 160px;
    margin: 0 auto;
    display: block;
}
.phone .neirong .box .xiaomi8{
    width: 160px;
    height: 160px;
    margin: 0 auto;
    display: block;
    margin-top: 20px;
}
.lunbo{
    width:1226px;
    height: 460px;
    margin:0  auto;
    background-color: #000;
    position: relative;
}
.lunbo a{
    display: block;
    width: 1226px;
    height: 460px;
    position: relative;
}
.lunbo .lunbotu{
    width:1226px;
    height: 460px;
    margin:0  auto;
    background-color: rebeccapurple;
    position: absolute;
    top: 0;
}
.lunbo .lunbotu img{
    width: 1226px;
    height: 460px;
}
.lunbo .zuojian{
    width: 41px;
    height: 69px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 234px;
}
.lunbo .zuojian:hover{
    color: #144954;
}
.lunbo .youjian{
    width: 41px;
    height: 69px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 0;
    text-align: center;
    line-height: 69px;
}
.lunbo .youjian .iconfont{
    text-align: center;
    line-height: 69px;
    color: #D0D0D0;
    font-size: 40px;
}
.lunbo .zuojian .iconfont{
    text-align: center;
    line-height: 69px;
    color: #D0D0D0;
    font-size: 40px;
}
.lunbo .youjian:hover{
    background-color: #5F6465;
    color: #ffffff; 
}
.lunbo .zuojian:hover{
    background-color: #5F6465; 
}
.lunbo .cedaohang{
    width: 234px;
    height: 460px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    padding: 30px 0 0 0;
    box-sizing: border-box;
}
.lunbo .cedaohang img{
    width: 16px;
}
.lunbo .cedaohang a{
    width: 200px;
    height: 42px;
    padding: 0 0 0 30px;
    font-size: 14px;
    color: #FEFEFE;
    line-height: 42px;
}
.lunbo .cedaohang a:hover{
    background-color: #FF6700;
}
.lunbo .cedaohang .icon-youjiantou{
    margin-left: 95px;
    font-size: 20px;
    display: block;
    float: right;
    margin-right: 10px;
}
.lunbo .lunbodian{
    width: 100px;
    height: 10px;
    position: absolute;
    bottom: 30px;
    right: 41px;
}
.lunbo .dian:hover{
    background-color: #F2F4FD;
}
.lunbo .dian{
    width: 6px;
    height: 6px;
    margin: 0 5px;
    background-color: #868686;
    float: right;
    border-radius: 50%;
    border:2px solid #919298;
}
.xiaotu{
    width: 1226px;
    height: 170px;
    background-color: #FEFEFE;
    margin: 14px auto 0;
}
.xiaotu .box{
    width: 316px;
    height: 170px;
    background-color: #f4f4f4;
    float: right;
    margin: 0 0 0 14px;
}
.xiaotu .box img{
    width: 316px;
    height: 170px;
}
.xiaotu .fenkuai{
    width: 234px;
    height: 170px;
    background-color: #5E564F;
    padding: 10px;
    box-sizing: border-box;
}
.xiaotu .fenkuai li{
    width: 64px;
    height: 75px;
    background-color: #5E564F;
    float: left;
    border-bottom:1px solid #655D56;
}
.xiaotu .fenkuai li a{
    font-size: 12px;
    text-align: center;
    color: #D4CFCA;
    display: block;
}
.xiaotu .fenkuai li:hover .iconfont{
    color: #ffffff;
}
.xiaotu .fenkuai li:hover a{
    color: #ffffff;
}
.xiaotu li .iconfont{
    display: block;
    height: 24px;
    margin-bottom: 4px;
    font-size: 20px;
    line-height: 24px;
    margin-top: 10px;
    color: #D4CFCA;
}
.xiaotu .fenkuai .shu{
    width: 1px;
    height: 70px;
    margin: 3px 5px;
    background-color:#655D56;
    border-bottom:0px;
}
.xiaotu .fenkuai .shu2{
    border-bottom: 0;
}
.qita{
    width: 1226px;
    height: 478px;
    margin: 0 auto;
    background-color: #f3f3f3;
}
.qita .box:hover{
    transform: translateY(-5px);
    transition: 1s;
    box-shadow: 0 0 20px 3px #ddd;
}
.qita .tou{
    width: 1226px;
    height: 58px;
    margin: 21px auto 0;
    background-color: #f3f3f3;
    font-size: 22px;
    line-height:58px;
}
.qita .zuo{
    width: 23px;
    height: 55px;
    background-color: transparent;
    position: absolute;
    top: 200px;
    top: 0;
    bottom: 0;
    margin: auto;
}
.qita .you{
    width: 23px;
    height: 55px;
    background-color: transparent;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 0;
}
.qita .box:hover .zuo{
    background-color: #D8D8D8;
}
.qita .box:hover .you{
    background-color: #D8D8D8;
}
.qita .box:hover .icon-right{
    color: #fff;
}
.qita .box:hover .icon-zuoyoujiantou2{
    color: #ffffff;
}
.qita .box .zuo i{
    color: transparent;
    line-height: 55px;
    font-size: 20px;
}
.qita .box .you i{
    color: transparent;
    line-height: 55px;
    font-size: 20px;
}
.qita .box .zuo:hover{
    background-color: #868686;
}

.qita .box .you:hover{
    background-color: #868686;
}
.qita .biaoti{
    text-align: center;
    margin: 0 10px 18px;
    color: #FFAC13;
    padding: 45px 0 0 0;
}
.qita .zhuti{
    color: #94CC6A;
}
.qita .youxi{
    color: #E85855;
}.qita .yingyun{
    color: #48A7F3;
}
.qita a p{
    text-align: center;
    display: block;
    color: #333333;
    font-size:20px;
}
.qita .beizhu{
    text-align: center;
    display: block;
    font-size:12px;
    margin: 0 48px 10px;
    height: 40px;
    line-height: 20px;
}
.qita .beizhu a{
    color: #AFAFAF;
}
.qita pre{
    margin: 0 10px 15px;
    text-align: center;
    color: #333333;
    font-size: 14px;
}
.qita img{
    width: 216px;
    height: 154px;
    margin: 0 auto;
    display: block;
}
.qita .box{
    width: 296px;
    height: 420px;
    background-color: #FEFEFE;
    float: left;
    margin: 0 14px 14px 0;
    position: relative;
    border-top: 1px solid #F9CB7D;
    box-sizing: border-box;
}
.qita .box1{
    margin-right: 0;
    border-top: 1px solid #4FABF4;
}
.qita .box4{
    border-top: 1px solid #81C350;
}
.qita .box2{
    border-top: 1px solid #81C350;
}
.qita .lunbodian{
    width: 122px;
    height: 10px;
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    bottom: 30px;
}
.qita .lunbo1{
    width: 84px;
    height: 10px;
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
}
.qita .dian{
    width: 6px;
    height: 6px;
    margin: 0 10px;
    background-color: #868686;
    float: right;
    border-radius: 50%;
}
.qita .d1{
    background-color: #fff;
    border: 2px solid #FF6700;
}
.qita .d2:hover{
    background-color: #ff6700;
}
.shiping{
    width: 1226px;
    height: 354px;
    background-color: #F4F4F4;
    margin: 0 auto;
    margin-bottom: 50px;
}
.shiping .tukuai:hover{
    transform: translateY(-5px);
    transition: 1s;
    box-shadow: 0 0 20px 3px #ddd;
}
.shiping .tou{
    width: 1226px;
    height: 58px;
    background-color: #F4F4F4;
    font-size: 22px;
    margin: 14px 0 0 0;
}
.shiping .tou p{
    line-height: 58px;
    width: auto;
    float: left;
}
.shiping .tou span{
    float: right;
    font-size: 16px;
    line-height: 58px;
    color: #333333;
}
.shiping .tou span:hover{
    color: #FF6700;
}
.shiping .tou span:hover .iconfont{
    color: #FF6700;
}
.shiping .tukuai{
    width: 296px;
    height: 285px;
    background-color: #FEFEFE;
    float: left;
    margin-right: 14px;
    position: relative;
}
.shiping .tukuai:hover .tubiao{
    background-color: #FF6700;
    border: 0;
    border:2px solid #FF6700;
}
.shiping img{
    width: 296px;
    height: 180px;
}
.shiping a p{
    text-align: center;
    margin-top: 25px;
    color: #333333;
    font-size:14px;
}
.shiping a p:hover{
    color: #ff6700;
}
.shiping pre{
    text-align: center;
    margin-top: 6px;
    color: #AFAFAF;
    font-size:12px;
}
.shiping .tubiao{
    border-radius: 50px;
    width: 32px;
    height: 20px;
    border: 2px solid #FEFEFE;
    position: absolute;
    left: 20px;
    bottom: 115px;
}
.shiping .tubiao img{
    width: 20px;
    height: 20px;
    margin: 0 7px;
}
/* .shiping .tubiao:hover{
    background-color: #FF6700;
    border: 0;
    border:2px solid #FF6700;
} */
.shiping .tu1{
    margin-right: 0;
}
.dibu{
    width: 100%;
    height: 272px;
    background-color: #FEFEFE;
}
.dibu .tou{
    width: 1226px;
    height: 80px;
    margin: 0px auto;
    border-bottom: 1px solid #DFDFDF;
}
.dibu .shang a{
    margin-left: 55px;
    line-height: 80px;
    color: #606060;
    margin-right: 55px;
}
.dibu .shang a:hover{
    color: #ff6700;
}
.dibu .shang a .iconfont{
    font-size: 20px;
}
.dibu span{
    color: #DFDFDF;
}
.dibu .box{
    width: 1226px;
    height: 192px;
    margin: 0 auto;
}
.dibu .box .zhong{
    width: 160px;
    height: 112px;
    float: left;
}
.dibu .box .zhong a{
    font-size: 14px;
    color: #747474;
}
.dibu .box .zhong .shang1{
    margin: 40px 0 26px 0;
    font-size: 14px;
}
.dibu .box .zhong .xia3{
    margin-bottom: 10px;
    font-size: 12px;
    color: #747474;
}
.dibu .box .zhong a:hover{
    color: #FF6700;
}
.dibu .dianhua{
    width: 252px;
    height: 112px;
    float: left;
    margin-top: 36px;
    border-left: 1px solid #DFDFDF;
}
.lianjie{
    width: 100%;
    height: 232px;
    background-color: #F9F9F9;
}
.lianjie img{
    float: left;
    display: block;
}
.lianjie .xia{
    width: 1226px;
    height: 232px;
    margin: 0 auto;
    padding: 30px 0;
    box-sizing: border-box;
}
.lianjie .tou{
    width: 1000px;
    height: auto;
    padding: 0 0 0 6px;
    float: left;
    display: block;
}
.lianjie .xia a{
    color: #757575;
    font-size: 12px;
}
.lianjie .xia span{
    color: #757575;
    font-size: 12px;
}
.lianjie .zhong{
    width: 1159px;
    height: 72px;
    float: left;
    padding: 0 0 0 6px;
}
.lianjie .xia  a:hover{
    color: #ff6700;
}
.lianjie .lo{
    width: 1000px;
    height: 30px;
    padding: 0 0 0 60px;
}
.lianjie .lo img{
    width: 85px;
    height: 28px;
    display: block;
}
.lianjie .tansuo{
    margin: 130px 0 0 800px;
    color: #AFAFAF
}
.dianhua p{
    text-align: center;
    font-size: 22px;
    color: #FF6700;
    padding-right: 5px;
}
.dianhua pre{
    text-align: center;
    font-size: 12px;
    color: #606060;
}
.dianhua div{
    width: 123px;
    height: 30px;
    border: 1px solid #FF6700;
    color: #FF6700;
    margin-left: 58px;
    margin-top: 10px;
    text-align: center;
    line-height: 30px;
}
.dianhua div:hover{
    color: #ffffff;
    background-color: #FF6700;
}
.huodong{
    width: 100px;
    height: 900px;
    position: fixed;
    top: 200px;
    right: 0px;
}
.huodong .kuai{
    width: 82px;
    height: 90px;
    border: 1px solid #F4F4F4;
    background-color: #ffffff;
    text-align: center;
}
.huodong .kuai:hover{
    color: #FF6700;
}
.huodong .kuai:hover .iconfont{
    color: #FF6700;
}
.huodong .kuai p{
    text-align: center;
    line-height: 5px;
}
.kuai .iconfont{
    font-size: 35px;
    color: #989898;
    text-align: center;
    margin: 15px 25px;
    display: block;  
}